bottle-websocket       ==0.2.9
browsermob-proxy       ==0.8.0
easyocr                ==1.7.2
gTTS                   ==2.5.4
imageio                ==2.36.1
imageio-ffmpeg         ==0.5.1
moviepy                ==2.1.1
numpy                  ==2.0.2
opencv-python          ==4.10.0.84
opencv-python-headless ==4.10.0.84
pillow                 ==10.4.0
pip                    ==24.3.1
pydub                  ==0.25.1
PyQt5                  ==5.15.11
PyQt5-Qt5              ==5.15.2
PyQt5_sip              ==12.16.1
pyttsx3                ==2.98
pywin32                ==308
regex                  ==2024.11.6
requests               ==2.32.3
selenium               ==4.27.1
torch                  ==2.7.0.dev20250107+cu126
torchaudio             ==2.6.0.dev20250108+cu126
torchvision            ==0.22.0.dev20250108+cu126
tqdm                   ==4.67.1
websocket-client       ==1.8.0
websockets             ==14.1