attrs                 ==24.3.0
bottle                ==0.13.2
bottle-websocket      ==0.2.9
browsermob-proxy      ==0.8.0
certifi               ==2024.12.14
cffi                  ==1.17.1
charset-normalizer    ==3.4.1
click                 ==8.1.8
colorama              ==0.4.6
comtypes              ==1.4.9
contourpy             ==1.3.1
cycler                ==0.12.1
decorator             ==5.1.1
easyocr               ==1.7.2
Eel                   ==0.18.1
exceptiongroup        ==1.2.2
filelock              ==3.16.1
fonttools             ==4.55.3
fsspec                ==2024.12.0
future                ==1.0.0
gevent                ==24.11.1
gevent-websocket      ==0.10.1
greenlet              ==3.1.1
gTTS                  ==2.5.4
h11                   ==0.14.0
idna                  ==3.10
imageio               ==2.36.1
imageio-ffmpeg        ==0.5.1
Jinja2                ==3.1.5
kiwisolver            ==1.4.8
lazy_loader           ==0.4
llvmlite              ==0.43.0
MarkupSafe            ==3.0.2
matplotlib            ==3.10.0
more-itertools        ==10.5.0
moviepy               ==2.1.1
mpmath                ==1.3.0
networkx              ==3.4.2
ninja                 ==1.11.1.3
numba                 ==0.60.0
numpy                 ==2.0.2
openai-whisper        ==20240930
opencv-python         ==4.10.0.84
opencv-python-headless==4.10.0.84
outcome               ==1.3.0.post0
packaging             ==24.2
pillow                ==10.4.0
pip                   ==24.3.1
proglog               ==0.1.10
pyclipper             ==1.3.0.post6
pycparser             ==2.22
pydub                 ==0.25.1
pyparsing             ==3.2.1
pypiwin32             ==223
PyQt5                 ==5.15.11
PyQt5-Qt5             ==5.15.2
PyQt5_sip             ==12.16.1
PySocks               ==1.7.1
python-bidi           ==0.6.3
python-dateutil       ==2.9.0.post0
python-dotenv         ==1.0.1
pyttsx3               ==2.98
pywin32               ==308
PyYAML                ==6.0.2
regex                 ==2024.11.6
requests              ==2.32.3
scikit-image          ==0.25.0
scipy                 ==1.15.0
selenium              ==4.27.1
setuptools            ==57.4.0
shapely               ==2.0.6
six                   ==1.17.0
sniffio               ==1.3.1
sortedcontainers      ==2.4.0
SpeechRecognition     ==3.13.0
srt                   ==3.5.3
sympy                 ==1.13.1
tifffile              ==2024.12.12
tiktoken              ==0.8.0
torch                 ==2.7.0.dev20250107+cu126
torchaudio            ==2.6.0.dev20250108+cu126
torchvision           ==0.22.0.dev20250108+cu126
tqdm                  ==4.67.1
trio                  ==0.28.0
trio-websocket        ==0.11.1
typing_extensions     ==4.12.2
urllib3               ==2.3.0
vosk                  ==0.3.45
websocket-client      ==1.8.0
websockets            ==14.1
wsproto               ==1.2.0
zope.event            ==5.0
zope.interface        ==7.2